<div class="dashboard">

    <div class="alert alert-info"
         role="alert">
        <duv class="title">
            Bienvenue Jean BREST
        </duv>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu lectus arcu. Morbi at sapien leo! Mauris
            sed
            lectus et est commodo tincidunt. Integer tincidunt mattis tortor, sed dignissim felis condimentum vitae! Nam
            orci orci;
        </p>
    </div>

    <div  class="ui-sortable">
        <!-- Panel -->
        <div class="panel panel-default bloc-toggle" *ngFor="#panel of panels; #i=index">
            <panel></panel>
        </div>
        <!-- End Panel -->
    </div>


</div>
