
<!-- Header -->
<div class="panel-heading  ui-sortable-handle">
    <h3 class="panel-title">
        <i class="panel.icons"></i>
        panel.title
    </h3>
</div>
<!-- End Header -->

<!-- Body -->
<div class="panel-body">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu lectus arcu. Morbi at sapien
        leo! Mauris sed lectus et est commodo tincidunt. Integer tincidunt mattis tortor, sed dignissim
        felis condimentum vitae! Nam orci orci;</p>
</div>
<!-- End Body -->


<!-- Footer -->
<div class="panel-footer text-right">
    <a href="#">
        Toutes les actualités
        <i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i>
    </a>
</div>
<!-- End Footer -->