<div class="{{ panelBodyObj.type.category | toClass }}">

    <div class="clearfix sub-header">
        <ul class="atexoui-list right horizontal">
            <li *ngFor="#displayType of displayTypes; #i=index"
                [ngClass]="{ available: displayTypes[i].active, disabled: !displayTypes[i].active }">
                <a href="#"
                   [ngClass]="{ available: displayTypes[i].active, disabled: !displayTypes[i].active }"
                   (click)="updateDisplayType(i)">
                    <span class="{{displayType.icons}}"></span>
                    {{displayType.type}}
                </a>
            </li>
        </ul>
    </div>

    <div class="display-table list-group" role="list" *ngIf="displayTypes[0].active">
        <a class="list-group-item" href="{{item.url}}" role="listitem"
           *ngFor="#item of items; #i=index">
            {{item.status}}
            <span class="badge" [ngClass]="{ 'badge-success': item.active }">{{item.count}}</span>
        </a>
    </div>

    <div class="display-chart chart chart-pie" *ngIf="displayTypes[1].active">
        <panel-body-charts-js
                [data]="chartData"
                [labels]="chartLabels"
                [chartType]="chartType"
                [options]="chartOptions"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></panel-body-charts-js>

        <ul class="atexoui-list list-unstyled">
            <li *ngFor="#label of chartLabels; #i=index">
                <span [ngStyle]="{ 'color': chartColors[i] }" class="fa fa-tag"></span>
                <strong class="count">{{chartData[i]}}</strong> : {{label}}
            </li>
        </ul>
    </div>

</div>