<div class="{{ panelBodyObj.type.category | toClass}}">

    <div class="clearfix sub-header">
        <ul class="atexoui-list right horizontal">
            <li *ngFor="#type of chartTypes; #i=index"
                [ngClass]="{ available: chartTypes[i].active, disabled: !chartTypes[i].active }">
                <a href="#"
                   [ngClass]="{ available: chartTypes[i].active, disabled: !chartTypes[i].active }"
                   (click)="updateChartType(i)">
                    <span class="{{type.icons}}"></span>
                    {{type.type}}
                </a>
            </li>
        </ul>
    </div>

    <panel-body-charts-js
            [data]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions"
            [series]="chartSeries"
            [colours]="chartColours"
            [legend]="chartLegend"
            [chartType]="chartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></panel-body-charts-js>


    <ul class="atexoui-list center horizontal">
        <li *ngFor="#serie of chartSeries; #i=index"
            [ngClass]="{ available: chartSeriesActive[i], disabled: !chartSeriesActive[i] }">
            <a href="#"
               (click)="updateChartData(i)"
               [ngClass]="{ available: chartSeriesActive[i], disabled: !chartSeriesActive[i] }">
                <span [ngStyle]="{ 'color': chartSeriesColors[i] }" class="fa fa-eye"
                      [ngClass]="{ 'fa-eye': chartSeriesActive[i], 'fa-eye-slash': !chartSeriesActive[i] }"></span>
                {{serie}}
            </a>
        </li>
    </ul>

</div>